@tailwind base;
@tailwind components;
.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: auto;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.4rem 0.8rem;
  margin: 0;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.loading {
  top: -2rem;
  opacity: 0;
  background-color: #222222;
}

.fader {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@tailwind utilities;
@layer base {
  h1 {
    font-family: "Titillium Web";
  }
  h2 {
    font-family: "Titillium Web";
  }
}
